.footer {
  background: #111;
  color: white;
  padding-top: 100px;
}

.footer-inner {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 50px;
  padding-bottom: 60px;
}

.footer-col h4 {
  margin-bottom: 20px;
}

.footer-col ul {
  list-style: none;
}

.footer-col li {
  margin-bottom: 10px;
  color: #bbb;
  cursor: pointer;
  transition: 0.3s;
}

.footer-col li:hover {
  color: #ff4d4d;
}

.newsletter {
  display: flex;
  gap: 10px;
  margin-top: 15px;
}

.newsletter input {
  flex: 1;
  padding: 10px;
  border-radius: 30px;
  border: none;
  outline: none;
}

.newsletter button {
  padding: 10px 20px;
  border-radius: 30px;
}

.footer-bottom {
  text-align: center;
  padding: 25px 0;
  border-top: 1px solid #222;
  color: #aaa;
  font-size: 14px;
}

/* Tablet */
@media (max-width: 1024px) {
  .footer-inner {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Mobile */
@media (max-width: 600px) {
  .footer-inner {
    grid-template-columns: 1fr;
  }

  .newsletter {
    flex-direction: column;
  }
}