.navbar {
  background: #fff;
  border-bottom: 1px solid #eee;
  position: sticky;
  top: 0;
  z-index: 100;
}

.navbar-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
}

.logo {
  font-weight: 700;
  font-size: 20px;
}

.nav-links {
  display: flex;
  gap: 35px;
  list-style: none;
}

.nav-links li {
  cursor: pointer;
  transition: 0.3s;
}

.nav-links li:hover {
  color: #ff4d4d;
}

.nav-icons {
  display: flex;
  gap: 15px;
}

.hamburger {
  display: none;
  font-size: 26px;
  cursor: pointer;
}

/* Mobile */
@media (max-width: 768px) {

  .nav-links {
    position: absolute;
    top: 80px;
    left: 0;
    width: 100%;
    background: white;
    flex-direction: column;
    padding: 30px;
    display: none;
  }

  .nav-links.active {
    display: flex;
  }

  .nav-icons {
    display: none;
  }

  .hamburger {
    display: block;
  }
}