@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&family=Roboto:wght@400;500&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  color: #111;
  background: #fff;
}

h1, h2, h3, h4 {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
}