.card {
  padding: 25px;
  border-radius: 20px;
  background: white;
  box-shadow: 0 8px 20px rgba(0,0,0,0.04);
  transition: 0.3s;
  text-align: center;
}

.card:hover {
  transform: translateY(-8px);
  box-shadow: 0 25px 60px rgba(0,0,0,0.08);
}

.card-img {
  height: 200px;
  background: #ddd;
  border-radius: 16px;
  margin-bottom: 15px;
}